body,html {
    background: #D8D8D8;
    height: 100%;
    margin: 0;
    padding:0;
}
.text {
    width: 80%;
    height: 60%;
    margin-top: 20px;
    margin-left: 50px;
    background: #fff;
}
div p {
    width: 86%;
    margin-left: 30px;
    padding-top: 50px;
    background: #fff;
}
.button {
    width: 30%;
    height: 20%;
    color: #fff;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
    font-family: sans-serif;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.one {
    background: #DB0017;
}
.two {
    background: #5293D7;
}
.text_2 {
    background: #fff;
    width: 80%;
    height: 110%;
    margin: 20px 0px 20px 50px;
}
.imgPlc {
    background: #4A4A4A;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 24px;
    width: 80%;
    height: 60%;
    margin: 20px 0px 0px 40px;
}
.p_2 {
    width: 85%;
    margin-left: 35px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.footer {
    background: #333333;
    width: 100%;
    height: 10%;
    color: #fff;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
}
